<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Outro 입니다.</h1>
	<h1><%= @name %>입니다.</h1>
	<%= @name %>
	<p>빠이</p>
	<p>빠이</p>
	<p>빠이</p>
	<p>빠이</p>
	<p>빠이</p>
	<p>빠이</p>
	<p>빠이</p>
	<p>빠이</p>
	<p>빠이</p>
	<p>빠이</p>


</body>
</html>