<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1><%= @menu %></h1>
	<img src= <%= @url %> width= "300" height ="200">
	<a href="/menu">try again</a>
</body>
</html>